body {
    background-color: black;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    margin: 1%;   
}

button{
    cursor:pointer;
}

#mediaPage{
    display: none;
}
/*---------------------------------------------------------start page content----------------------------------------------------- */
#startPage{
    border: 5px solid black;
    height: 880px;
    display: block;
}

.message{
    color: red;
    
}

#playButton,#backButton{
    background-position: center;
    background-size: 100% 100%;
}

#playButton{
    border-radius: 50%;
    height: 22%;
    width: 20%;
    min-width: 200px;
    min-height: 200px;
    border: 5px solid black ;
    font-size: 100%;
    text-align: center;
    position: absolute;
    animation: flyingCloud 10s linear infinite alternate;
}

#playButton:hover{
    color: white;
}

@keyframes flyingCloud {
    0% {
        top: 0;
        left: 0;
    }

    25% {
        top: 65%;
        left: 45%;
    }

    50% {
        top: 50%;
        left: 15%;
    }

    75% {
        top: 20%;
        left: 65%;
    }

    100% {
        top: 60%;
        left: 70%;
    }
}

#title,#instruction{
    font-family: "Jersey 10", sans-serif;
    font-style: italic;
    background-image: linear-gradient( red, darkred, red);
    background-clip: text;
    color: transparent;
    font-size: 80px;
}
/*---------------------------------------------------------how to page content----------------------------------------------------- */
#howToPage{
    color: white;
    font-family: 'sedan', sans-serif;
    font-size: 25px;
    display: none;
    text-align: left;
    max-height: 880px;
    min-width: 1500px;
}

#instruction{
    text-align: center;
    font-size: 100px;
}

#backButton{
    background-size: 300px;
    border-radius: 50%;
    height: 200px;
    width: 12%;
    font-size: 24px;
    text-align: center;
    position: relative;
    left:  84%;
}

#backButton:hover{
    color: white;
}
/*---------------------------------------------------------game page content----------------------------------------------------- */
#gamePage{
    min-width: 1200px;
    max-width: 900px;
    min-height: 600px;
    margin: 0 auto;
    display: none;
    height: 845px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows:  repeat(3, auto);
    gap: 50px;
}

#board{
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;  
    min-width: 500px;
    align-items: center;
    border: 3px solid black;
    border-style: ridge;
    border-radius: 10px;
    background-size: cover;
}

#timer{
    position: absolute;
    display: flex;
    gap: 5%;
    right: 20px;
    font-size: 50px;
    color: red;
    text-shadow: 1px 2px 5px white, -2px -1px 5px white;
    >#sec{
        display: flex;
        width: 64px;
        justify-content: end;
    }
}

#master{
    visibility: hidden;
    position: absolute;
    top: 10%;
    right: 15%;
}

#messageBoard{
    border-bottom: 3px dashed black;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

#resultMessage{
    font-family: "Sedan", sans-serif;
    color: white;
    border-radius: 5px;
    border: 2px ridge black;
    font-size: 30px;
    padding: 9px;
    margin: 9px;
}

.masterCode{
    display: flex;
    font-family: "Bungee Shade", sans-serif;
    font-weight: bolder;
    font-size: 40px;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 3px;
    visibility: hidden;
}

#testRows{ 
    display: flex;
    flex-direction: column-reverse;
}

.testRow{
    display: grid;
}

.combination{
    display: flex;
    border: 3px groove black;
}

.combo{
    border: 3px solid black;
    border-radius: 50%;
    margin: 8px;
	height: 30px;
	width: 30px;
    background-color: rgba(255, 255, 255, .5);
}

.checking{
    grid-column: 2;
    display: flex;
    border: 3px solid black;
    border-style: groove;
}

.check{
    align-self: center;
    border-radius: 50%;
	height: 20px;
	width: 20px;
    border: 2px solid black;
    background-color: white;
}

#checkButton{
    grid-column: 3;
    grid-row: 2;
    border-radius: 50%;
    height: 25%;
    position: relative;
    top: 65%; right: 65%;
}

#checkButton:hover{
    background-color: red;
}

#playerChoices{
    border-top: 3px dashed black;
    display: flex;
    max-height: 45px;
    margin: 15px;
}

.color{
    border-radius: 50%;
	height: 40px;
	width: 40px;
    border: 3px solid black;
    margin: 5px;
}
 
.color:hover{
    border: 3px solid white;
}
.color:active{
    border: 3px solid red;
}

#blue{
    background-size: 50px 50px;
    background-position: center;
}

#pink{
    background-size: 50px 50px;
    background-position: center;
}

#SlateBlue{
    background-size: 50px 50px;
    background-position: center;
}

#greenyellow{
    background-size: 50px 50px;
    background-position: center;
}

#yellow{
    background-size: 50px 50px;
    background-position: center;
}

#red{
    background-size: 50px 50px;
    background-position: center;
}

#teal{
    background-size: 50px 50px;
    background-position: center;
}

#orange{
    background-size: 50px 50px;
    background-position: center;
}

#howToButton,#resetButton,#checkButton{
    background-size: cover;
    border-style:ridge;
    font-family: "Sedan", serif;
    font-weight: bold;
    font-size: 28px;
    text-shadow: -1px 1px rgb(255, 50, 50);
}

#howToButton{
    grid-column: 1;
    grid-row: 3;
    border-radius: 50px;
    position: relative;
    bottom: 25px;
}

#resetButton{
    grid-column: 2;
    grid-row: 3;
    border-radius: 10%;
    position: relative;
    width: 100px;
    left: 30%;
    bottom: 26px;
    margin-bottom: auto;
    padding: 5px;
    visibility: hidden;
}
/*---------------------------------------------------------game page content----------------------------------------------------- */
@media screen and (max-width: 781px){
#mediaPage{
    display: block;
}

#startPage{
    display:none;
    height: 500px;
    >#playButton{
        animation: none;
        top: 35%;
        left: 35%;
    }
}
}   